* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

main {
  margin: 0 30px;
}

header {
  display: flex;
  width: 100%;
  height: 80px;
  margin-top: 30px;
  border-bottom: 2px solid #373737;
}

.logo {
  width: 250px;
  height: 100px;
  margin: 0 20px;
  position : relative;
  top: -10px;
}

header nav {
  width: 900px;
  margin: auto;
}

header nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding-left: 0;
}

header nav ul li {
  font-size: 22px;
  font-weight: bold;
  font-family: 'Roboto';
}

.navTitle {
  text-decoration: none;
  color: #373737;
}

.navTitle:hover {
  color: #616161;
}

main p {
  font-family: 'Roboto',sans-serif;
  font-size: 1.2em;
  width: 60%;
  margin: 20px auto;
  padding: 15px;
  text-align: center;
  line-height: 1.5;
  background-color: rgba(0,0,0,0.4);
  color: #FFFFFF;
}

h2 {
  width: 300px;
  margin: auto;
  padding-top: 40px;
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
  color: #EC0029;
}

footer {
  width: 100%;
  height: 150px;
  background-color: #373737;
}

footer p {
  width: 70%;
  margin: auto;
  position: relative;
  bottom: -80px;
  font-family: 'Roboto', sans-serif;
  font-size: 1.1em;
  color: #FFFFFF;
}

footer a {
  text-decoration: none;
  color: #FFFFFF;
}

/*_______________________CroixRouge_____________________________*/


.croixRouge {
  background-image: url(https://media.defense.gov/2008/Jul/15/2000693069/780/780/0/080712-F-0570C-085.JPG);
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  margin-top: 30px;
}

.croixRouge h2 {
  padding-top: 30px;
}



.croixRouge p {
margin-right: 35%;
}

/*__________________________missions_____________________*/

.missions {
  height: 800px;
  color: #191817;
}

#missionsTitle {
  margin-bottom: 50px;
}

.missions h3 {
  font-size: 1.6em;
  font-family: 'Roboto', sans-serif;
  margin: 60px 0 30px 50px;

}

.missions ul {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  line-height: 2;
  width: 85%;
  margin: auto;
}

.video {
  display: flex ;
}

.videoTexte {
  padding : 50px 100px;
  background-color: inherit;
  color: #191817;
  border-top: 2px solid  #191817;
  border-bottom: 2px solid  #191817;
}

iframe {
  border: 0;
}

/*__________________________associations___________________*/

.associations {
  background-color: #EEEEEF;
  height: 500px;
  margin-bottom: 50px;
}

.associations ul {
  width: 75%;
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 70px auto 0 auto;
  padding-bottom: 70px;
  padding-left: 0;
}

.medecin {
  margin-top: 30px;
  width: 150px;
  height: 150px;
}

.caritas {
  width: 150px;
  height: 200px;
}

.oxfam {
  margin-top: 60px;
  width: 260px;
  height: 80px;
}

.cncd {
  margin-top: 60px;
}
